:root {
    --maintext-color:#fff;
    --highlight-color:chartreuse;
    --backgroundtop-color:#000000;
    --backgroundbottom-color:#1b2553;
    --backgroundtop-color:#000000;
    --backgroundbottom-color:#000000;
    --highlight-color:rgb(0, 255, 255);
    /* --backgroundbottom-color:#000000; */
}
#container,
#particles-js {
    position: absolute;
    height: 100vh;      /*change while adding rows in website */
    width: 100vw;
    z-index: -1;
	position:fixed;      /*Put particle.js on whole page on phone*/
	top:0;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        var(--backgroundtop-color),
        var(--backgroundbottom-color)
    );
    /* background-image: url('Images/backgroundimg5.jpg'); */
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

*{
    box-sizing: border-box;
}

body, html{
 
    height: 100vh;
    width: 100vw;
    
    /* overflow: hidden; */
}
.navbar{
   /* background-color: #000000; */
   background-color: transparent;
}

.dropdown-menu {
    
    /* background:var(--highlight-color); */
    background: rgb(0, 255, 255);
}


a:hover{
    background-color:#030000;
    background-color: rgb(23, 9, 85);
}

#codeforces{
    /* padding-bottom: 3%; */
    /* margin-bottom: 15%; */
}

.icon{
    margin-top: 2%;
}

.icon-cog1 {
    color: cyan;
  }

.icon-cog2 {
    color: #fff;
  }

#github:hover, #codeforces:hover, #linkedin:hover, #codechef:hover, #youtube:hover{
    transform:scale(1.3);
}

#myName{
   /* position: relative;
   padding: 0% 5% 0% 0%; */
}



#MyPhoto{               /* make image square */
    
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
    
    border: 5px solid rgb(255, 255, 255);
    display: inline-block; 
}

#MyPhoto:hover{
    transform: scale(1.3);
    transition: linear 0.3s;
}

#aboutmephoto{
    position: relative;
    width: 100%;

}

.stack {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
    display: inline-block;
}

.stack img {
    background: #fff;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    width: 100%;
    -moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    box-shadow:         1px 1px 2px rgba(0,0,0,.25);
}

.stack::before {
    background: #969696;
    background: cyan;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

.type, .exclamation, .apostrophe, .name{
    color:var(--highlight-color);
    /* color:rgb(0, 255, 0); */
}

h1{
    font-family: 'Varela Round', sans-serif;
    color:var(--maintext-color);
    font-size: 5vw; /* percentage of window */
    font-size: 62px;
    /* font-size: 6vw; */
}

h2{
    font-family: 'Varela Round', sans-serif;
    color:var(--maintext-color);
    font-size: 4vw; /* percentage of window */
    font-size: 55px;
    /* font-size: 5vw; */
}

#projects{
    position: relative;  
    padding: 12% 0% 0% 0%;
    margin-bottom: 5%; /* margin added as h-90 added for project adding */
    color: #fff;
}

#game_card3,#game_card2,#game_card1{
    background-color:#000000;
}

.DESCRIPTION1, .DESCRIPTION3{
    color:cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.DESCRIPTION2{
    color:rgb(0, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.card-title{
    color:rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Brush Script MT', cursive;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    /* font-style: italic; */
}

.card-text{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
    /* font-weight:400; */
}

#game1_photo,#game3_photo{
    /* padding: 0% 0% 5% 0%;   */
    position: relative;
    width: 95%;
    
    border: 1px solid rgb(250, 250, 250);
    margin: 2%;
}

#game2_photo{
    position: relative;
    width: 70%;
    border: 1px solid rgb(250, 250, 250);
    margin: 2%;
}


#game1_photo:hover, #game2_photo:hover, #game3_photo:hover{
    cursor:pointer;
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
  
.card-front {
    transform: rotateY(0deg);
}


/* #game_project1:hover{
    transition: linear 0.3s;
} */

div div div div:hover{
    /* transition: linear 0.3s; */
    
}

#game_project1{
    background-color: rgb(255, 255, 255);
    background-color: rgb(29, 3, 10);
    background-color: rgb(29, 0, 0);  
    background-color: rgb(255, 255, 255); 
}

#game_project2{
    background-color: rgb(9, 3, 29);
    background-color: rgb(0, 29, 0);
    background-color: rgb(0, 0, 29);
    background-color: rgb(39, 0, 0); 
    background-color: rgb(255, 255, 255); 
    /* background-color: #000; */
}

#game_project3{
    background-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 29);
    background-color: rgb(29, 0, 0); 
    background-color: rgb(255, 255, 255); 
}
  

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
  
.card-front:hover, .card-flip:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}
    
.card-flip:hover .card-back {
    transform: rotateY(0deg);
}