#container,
#particles-js {
    position: absolute;
    height: 100vh;      /*change while adding rows in website */
    width: 100vw;
}
/* #000000,
#1b2553 */
#particles-js{
    width: 100vw;
    background: linear-gradient(
        to bottom,
        /* #0fd62a,
        #1686d1 */
        #000000,
        /* #1686d1 */
        /* #000208, */
        #1b2553

    );
    /* background: #dddfe2; */
}

*{
    box-sizing: border-box;
}
.navbar{
    
   /* background-color: #0fd62a; */
   background-color: #000000;
}

a:hover{
    /* background-color: #1686d1; */
    background-color:#030000;
    background-color: rgb(23, 9, 85);

}

h1{
    position:absolute;
    top: 35%;
    transform: translateY(-50);
    width: 100%;
    background-color:transparent;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

h6{
    position:absolute;
    top: 50%;
    transform: translateY(-50);
    width: 100%;
    background-color:transparent;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.type{
    /* color:cyan;
    color:red; */
    color:#081033;
    color:chartreuse;
    /* color:#FFFF00; */

}

.exclamation{
    color:chartreuse;
}

.apostrophe{
    color:chartreuse;
}

.name{
    color:chartreuse;
}

#hello{
    position: absolute;
    background-color: transparent;
    color:aqua;
}